/* app css stylesheet */

.options {
  /*background: #c9c9c9;*/
  /*margin: 10px;*/
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.options.clicked {
  background: #00ff00;
}

body {}

.footer {
  position: fixed;
  bottom: 0;
}